body{
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 24, 24);
}

p{
    text-align: center;
    font: "sans-sherif";
    color: rgb(190, 190, 190);
}

button{
    color: white;
    background-color: black;
}

select{
    width: 10;
    height: 10;
}
